%nav.sidebar
  = link_to 'Товары', [:admin, :products], class: 'sidebar__link'
  = link_to 'Статьи', [:admin, :articles], class: 'sidebar__link'
  = link_to 'Seo', [:admin, :seos], class: 'sidebar__link'